<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django on Hexslet{% endblock title %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/articles/">Articles</a></li>
        </ul>
    {% endblock sidebar %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>